<h1>Proceso de aprovisionamiento de una VM</h1>
<hr />

<div class="row">
  <div class="col-lg-12">
    <div style="display: block">
      <canvas
        baseChart
        width="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [chartType]="'line'"
      >
      </canvas>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th scope="col">Pasos</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr id="{{indice}}" *ngFor="let valor of listTable; let indice=index" [ngClass]="(valor <= 1)?'bg-warning':((valor === 2)?'bg-secondary':'bg-success')">
          <th scope="row">{{indice+1}}</th>
          <td >{{valor}}</td>         
        </tr>
      </tbody> 
    </table>
  </div>
</div>


<input value="{{listTable}}" />